<form>
    <p>
        <div class="m-radio-list">
            <label class="m-checkbox m-checkbox--bold">
                <input type="checkbox" name="menu[C]">
                Crear
                <span></span>
            </label>
            <label class="m-checkbox m-checkbox--bold">
                <input type="checkbox" name="menu[R]">
                Leer
                <span></span>
            </label>
            <label class="m-checkbox m-checkbox--bold">
                <input type="checkbox" name="menu[U]">
                Actualizar
                <span></span>
            </label>
            <label class="m-checkbox m-checkbox--bold">
                <input type="checkbox" name="menu[D]">
                Eliminar
                <span></span>
            </label>
        </div>
    </p>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary cancel">
        Cancelar
    </button>
    <button type="button" class="btn btn-primary confirm">
        Confirmar
    </button>
</div>